body{
    background-color: black;
}


.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: #c5a3ff;
    width: 100%;
    border: 1px solid black;
}

/* ------------------------------------------------------------------------ */

.maindiv{
    width: auto;
    position: relative;
    margin: 60px;
    bottom: 50px;
}

.div1{
    top: 150px;
    position: absolute;
    background-color: aquamarine;
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    z-index: 1;   
}

.div2{
    top: 170px;
    left: 20px;
    position: absolute;
    background-color: #FFFFB1;
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0px 0px 8px black; 
}

.div3{
    position: absolute;
    left: 40px;
    top: 190px;
    background-color: #ffd7bc;
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    z-index: 3;
    box-shadow: 0px 0px 8px black;
}

.div4{
    position: absolute;
    left: 900px;
    top: 400px;
    background-color: #ffdcf4;
    height: 600px;
    width: 580px;
    border-radius: 20px;
    z-index: 10;
    box-shadow: 0px 0px 8px black;
}

.div5{
    position: absolute;
    left: 920px;
    top: 380px;
    background-color: #dcfffb;
    height: 600px;
    width: 580px;
    border-radius: 20px;
    z-index: 9;
    box-shadow: 0px 0px 8px black;
}

.div6{
    position: absolute;
    left: 940px;
    top: 360px;
    background-color: #ccffcc;
    height: 600px;
    width: 580px;
    border-radius: 20px;
    z-index: 8;
    box-shadow: 0px 0px 8px black;
}

.div7{
    position: absolute;
    left: 960px;
    top: 340px;
    background-color: #ccaaff;
    height: 600px;
    width: 580px;
    border-radius: 20px;
    z-index: 3;
    box-shadow: 0px 0px 8px black;
}

.div8{
    position: absolute;
    left: 100px;
    top: 750px;
    background-color: #d4f0f0;
    height: 600px;
    width: 850px;
    border-radius: 20px;
    z-index: 20;
    box-shadow: 0px 0px 8px black;
}

.div9{
    position: absolute;
    left: 120px;
    top: 770px;
    background-color: #ffffb5;
    height: 600px;
    width: 850px;
    border-radius: 20px;
    z-index: 19;
    box-shadow: 0px 0px 8px black;
}

.div10{
    position: absolute;
    left: 140px;
    top: 790px;
    background-color: #ff968a;
    height: 600px;
    width: 850px;
    border-radius: 20px;
    z-index: 18;
    box-shadow: 0px 0px 8px black;
}

.vision1{
    transition: transform .4s;
    margin-left: 60px;
    margin-top: 90px;
    margin-right: 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
    text-shadow: 0px 0px 2px black;
}

.vision2{
    transition: transform .4s;
    margin-left:  30px;
    margin-right:  30px;
    font-family: 'Anton', sans-serif;
    font-size: 130px;
    color: black;
    text-shadow: 0px 0px 2px black;
}

.vision3{
    transition: transform .4s;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    text-align: left;
    text-shadow: 0px 0px 2px black;
    margin: 80px;
    margin-top: 100px;
}

.zoom:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* ------------------------------------------------------------------- */


.piedepagina{
    position: relative;
    top: 1400px;
    padding: 50px 50px;
    text-align: center;
    font-family: 'Montserrat';
    cursor: pointer;
}

.textbottom{
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 2px white;
}

/* --------------------------------------------------------------------- */

::-webkit-scrollbar{
    width: 10px;    
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: #ffffb5;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ------------------------------------------------------------------- */
