.buttonp1{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 3px white;
    color: white;
}

.blink_me:hover{
    animation: blinker 1.3s linear infinite;
}

.logeado {
    color: rgb(20, 162, 0);
    text-shadow: 0 0 2px rgb(20, 162, 0);
}

.noLogeado {
    color: red;
    text-shadow: 0 0 2px red;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}