::-webkit-scrollbar{
    width: 10px;    
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: #fbc05d;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* --------------------------------------------- */ 

body{
    background-color: black;
}

.faq1{
    width: 100%;
    background-color: #fbc05d;
    min-height: 500px;
    padding: 1px 0;
    text-align: center;
    border: 1px solid black;
}

.textfaq1{
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 150px;
    text-shadow: 0px 0px 2px black;
}

/* ---------------------------------------------- */

.category{
    position: relative;
    right: 30px;
    width: 100%;
    height: 200px;
    background-color: black;
    border: 1px solid black;
    text-align: center;
}

.category a{
    position: relative;
    margin: 100px;
    top: 70px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color:white;
    cursor: pointer;
    text-shadow: 0px 0px 2px white;
}

.category a:hover{
    color: #fbc05d;
    transition: 1s;
}

.blink_me:hover{
    animation: blinker 1.3s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

.carrito{
    position: absolute;
    top: 2%;
    left: 93%;
}

.carrito a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 2px black;
}

.regresar{
    position: absolute;
    top: 2%;
    left: 2%;
}

.regresar a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-shadow: 0px 0px 2px black;
}

/* ---------------------------------------------- */

.card {
    background-color: black;
    width: 350px;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    border-radius: 25px;
  }
  
  .price {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    text-shadow: 0px 0px 3px white;
  }
  
  .card button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border: none;
    outline: 0;
    padding: 12px 50px;
    background-color:white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 2px black;
    border-radius: 15px;
  }

  .card img{
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }

  .card img:hover{
    animation: blinker 1.5s linear infinite;
    cursor: pointer;
  }
  
  .menu{
      min-height: 1000px;
      background-color: #fbc05d;
      display: flex;
      justify-content: space-around;
      border: 1px solid black;
      width: 100%;
  }

  .card button:hover{
      opacity: 0.7;
  }

  /* --------------------------------------- */

  .piedepagina{
    background-color: #fbc05d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    cursor: pointer;
    height: 180px;
    border: 1px solid black;
    width: 100%;
}

.textbottom{
    font-size: 30px;
    color: black;
    text-shadow: 0px 0px 2px black;
}


/* E S T I L O    D E    B O T O N */
  
  /* Modal Content */
  .banner {
    background-color: black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 0px solid black;
    width: 100%;
  }
  